#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pantalla-contador {
  border: thin solid white;
  border-radius: 10px;
  background-color: rgba(50, 115, 220, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px; /* O cualquier tamaño que prefieras */
  height: 100px; /* Igual que el ancho para hacerlo cuadrado */
  padding: 0; /* Asegúrate de que el padding no afecte el centrado */
  box-sizing: border-box; /* Incluye el borde en el tamaño total del contenedor */
  font-size: 50px;
}
